@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import 'tailwindcss';
@import './styles/tokens/_colors.css';

body {
  background-color: #f5f9ff;
}

h2 {
  font-family: 'Merriweather';
  font-size: 32px;
}
 