@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';
@import './styles/tokens/_colors.css';

body {
  background-color: var(--full-bg);
  font-family: 'Red Hat Display', sans-serif;
  margin: 0 auto;
}

.layout {
  max-width: 1920px;
  margin: auto;
}
.layout:has(.landing) {
  max-width: 100%;
}
h2 {
  font-family: 'Merriweather';
  font-size: 32px;
}
