@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@import './styles/tokens/_colors.css';

body {
  background-color: #f5f9ff;
  font-family: 'Red Hat Display', sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-family: 'Merriweather';
  font-size: 32px;
}
 